<!-- Generated template for the ModalPasswordUpdateComponent component -->
<ion-header>

    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="dismiss()">
              Close
            </button>
          </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
  
</ion-header>
<ion-content padding class="content">

    <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm.value)" novalidate>
      
        <ion-item>
            <ion-label color="primary" stacked> Current Password</ion-label>
            <ion-input type="password" #current="ngModel" name="current" 
                  ngModel required></ion-input>
          </ion-item>

          <ion-item>
              <ion-label color="primary" stacked> New Password</ion-label>
              <ion-input type="password" #password="ngModel" name="password" 
                    minlength="6" pattern="^[a-zA-Z0-9]*$" 
                    [(ngModel)]="passwordDefault" required></ion-input>
            </ion-item>
            <div *ngIf="password.errors && (password.dirty || password.touched)">
              <div [hidden]="!password.errors.required" class="alert">
                Password is required
              </div>
              <div [hidden]="!password.errors.pattern" class="alert">
                Password must only contain letters and numbers
              </div>
              <div [hidden]="!password.errors.minlength" class="alert">
                Password must contain atleast six characters
              </div>
            </div>

          <ion-item>
              <ion-label color="primary" stacked> Confirm New Pasword</ion-label>
              <ion-input type="password" #match="ngModel" name="match" 
                    ngModel
                    (ionChange)="passwordConfirmation($event)" 
                    required></ion-input>
          </ion-item>
            <div *ngIf="match.errors && (match.dirty || match.touched)">
              <div [hidden]="!match.errors.required" class="alert">
                Confirm new password is required
              </div>
            </div>
            <div *ngIf="!matchPassword && !match.errors" class="alert">
                Pasword doesn't match
            </div>
        
      <div class="buttons">
        <button ion-button block class="btnUpdate" [disabled]="!passwordForm.form.valid" type="submit">Update</button>
      </div>
  </form>
</ion-content>
