page-head-controls-statistics-academic {

    .content {
        background-color: #EFF0F1;
        padding: 0%;
    }

    .card{
        border-radius: 5px;
        padding:10px;
    }

    .slide{
        align-content: center;
    }

    .cardSemester {
        width: 91%;
        margin: 0px auto;
    }

}
