modal-statistics {

    .content {
        background-color: #EFF0F1;
        padding: 0%;
    }

    .card {
        padding: 5px;
        border-radius: 5px;
    }

    .cardAcademic {
        text-align: center;
        font-size: 12pt;
        padding: 5px;
        font-weight: bold;
        color: white;
        background-color: #6961ff;
    }

    .cardStudent{
        padding: 10px;
    }

    .pieGraph {
        margin-bottom: 5px;
    }

    .studentLabel {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
    }

    .cardSemester {
        width: 90%;
        margin: 5px auto;
    }

    .cardSemHeader{
        font-weight: bold;
        font-size: 12pt;
        margin-bottom: 10px;
    }


}
