<!--
  Generated template for the HeadControlsCounselorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Guidance Counselors</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab right bottom >
          <button ion-fab (click)="addCounselor()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list class="list" >
    <ion-card class="card" *ngFor="let person of counselorList">
        <ion-grid>
            <ion-row class="contact" class="profile" (click)="profile(person)">
                  <ion-col class="profileLeft" col-2>
                        <img src="{{ person.picture }}" class="avatar">
                  </ion-col>
                  <ion-col class="profileRight" col-10> 
                    <ion-row><div class="name"> {{person.name}} </div></ion-row>
                    <ion-row>
                      <div *ngFor="let unit of person.academic" class="academicList">
                        <div class="academic"> {{ unit.code }} </div>
                      </div>
                    </ion-row>
                  </ion-col>
            </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
