<ion-header>

  <ion-navbar color="primary">
    <ion-title>Create a Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <div class="profile">
        <div class="imageFooter"><button class="upload" (click)="changeProfilePic()"><ion-icon name="camera"></ion-icon></button></div>
        <div *ngIf="!profilePic" class="noprofile"><ion-icon name="person" class="person"></ion-icon></div>
        <div *ngIf="profilePic" ><img src="{{ profilePic }}" class="avatar"></div>
      
    </div>

    <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm.value)" novalidate>

          <ion-item>
            <ion-label color="primary" stacked> Email </ion-label>
            <ion-input type="text" #email="ngModel" name="email" [(ngModel)]="emailDefault" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked> First name </ion-label>
            <ion-input type="text" #firstname="ngModel" name="firstname" [(ngModel)]="fNameDefault" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked> Last name </ion-label>
            <ion-input type="text" #lastname="ngModel" name="lastname" [(ngModel)]="lNameDefault" readonly></ion-input>
          </ion-item>
          

          <ion-item>
            <ion-label color="primary" stacked> Password</ion-label>
            <ion-input type="password" #password="ngModel" name="password" 
                  minlength="6" pattern="^[a-zA-Z0-9]*$" 
                  [(ngModel)]="passwordDefault" required></ion-input>
          </ion-item>
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <div [hidden]="!password.errors.required" class="alert">
              Password is required
            </div>
            <div [hidden]="!password.errors.pattern" class="alert">
              Password must only contain letters and numbers
            </div>
            <div [hidden]="!password.errors.minlength" class="alert">
              Password must contain atleast six characters
            </div>
          </div>

          <ion-item>
              <ion-label color="primary" stacked> Confirm Pasword</ion-label>
              <ion-input type="password" #match="ngModel" name="match" 
                    ngModel
                    (ionChange)="passwordConfirmation($event)" 
                    required></ion-input>
          </ion-item>
            <div *ngIf="match.errors && (match.dirty || match.touched)">
              <div [hidden]="!match.errors.required" class="alert">
                Confirm password is required
              </div>
            </div>
            <div *ngIf="!matchPassword && !match.errors" class="alert">
              Mismatch
            </div>
            
          <ion-item>
            <ion-label color="primary" stacked> Academic Unit </ion-label>
            <ion-select  #academic="ngModel" 
                name="academic" 
                placeholder="Choose Academic"
                ngModel 
                required>
              <ion-option *ngFor="let unit of academicArray" value ="{{unit.acID}}"> {{unit.acCode}}</ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="academic.errors && (academic.dirty || academic.touched)">
            <div [hidden]="!academic.errors.required" class="alert">
              Academic is required
            </div>
          </div>
          
          <ion-item>
            <ion-label color="primary" stacked> Status </ion-label>
            <ion-select #status="ngModel" 
                name="status" 
                placeholder="Choose Status"
                ngModel 
                required>
                <ion-option value="Enrolled">Enrolled</ion-option>
                <ion-option value="Not Enrolled">Not Enrolled</ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="status.errors && (status.dirty || status.touched)">
            <div [hidden]="!status.errors.required" class="alert">
              Status is required
            </div>
          </div>
          <div class="button">
            <button class="btn" block ion-button [disabled]="!registrationForm.form.valid || !matchPassword" type="submit">Register</button>
          </div>
      </form>
     
  
  </ion-list>
</ion-content>
