
  <ion-content class="content">
    <div class="header">
        <ion-buttons left>
            <button ion-button icon-only clear round (click)="close()"><ion-icon name="arrow-back"></ion-icon></button>
        </ion-buttons>
    </div>
    <div *ngFor="let details of profileInfo" class="profile">
        <div *ngIf="details.picture !== 'No image'"><img src="{{ details.picture }}" class="avatar"></div>
        <div *ngIf="details.picture === 'No image'"><div class="avatar"></div></div>
        <div class="details">
          <div class="name">{{details.name}}</div>
          <div class="academicLabel">Academic Unit</div>
          <div class="academic"> 
            <div *ngFor="let units of details.academic">
              <div class="academicCounselor">{{units.name}}</div>
            </div>
          </div>
          <div class="emailLabel">Email</div>
          <div class="emailName">{{details.email}}</div>
          <div class="statusLabel">Status</div>
          <div class="statusName">{{details.status}}</div>
        </div>
    </div>
    <ion-grid class="button">
      <ion-row>
        <ion-col>
            <button ion-button class="reject" (click)="reject()" clear>Reject</button>
        </ion-col>
        <ion-col>
            <button ion-button class="accept" (click)="accept()" clear>Accept</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  