
  <ion-content class="content">
    <div class="header">
        <ion-buttons left>
            <button ion-button icon-only clear round (click)="close()"><ion-icon name="arrow-back"></ion-icon></button>
        </ion-buttons>
    </div>
    <div class="profile">
        <div *ngIf="profileInfo['picture'] !== 'No image'"><img src="{{ profileInfo['picture'] }}" class="avatar"></div>
        <div *ngIf="profileInfo['picture'] === 'No image'"><div class="avatar"></div></div>
        <div class="details">
          <div class="name">{{profileInfo["name"]}}</div>
          <div class="academicLabel">Academic Unit</div>
          <div class="academic"> 
            <div *ngFor="let units of profileInfo['academic']">
              <div class="academicCounselor">{{units.name}}</div>
            </div>
          </div>
          <div class="emailLabel">Email</div>
          <div class="emailName">{{profileInfo["email"]}}</div>
          <div class="statusLabel">Status</div>
          <div class="statusName">{{profileInfo["status"]}}</div>
        </div>
    </div>
    <ion-grid class="button">
      <ion-row>
        <ion-col>
            <button ion-button class="reject" (click)="reject()" clear>Reject</button>
        </ion-col>
        <ion-col>
            <button ion-button class="accept" (click)="accept()" clear>Accept</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  