<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Chat</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addChat()">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="content">
  <ion-card *ngFor="let chat of chatList" (click)="openChat(chat.recipientID)">
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <img src = "{{ chat.picture }}" class="avatar">
        </ion-col>
        <ion-col col-10>
          <ion-row>
            <ion-col col-8 class="name"> {{ chat.name }} </ion-col>
            <!--
            <ion-col col-4 *ngIf="compareDate(chat.datetime) === 'today'" class="time"> {{ chat.datetime | date: 'hh:mm aa' }} </ion-col>
            <ion-col col-4 *ngIf="compareDate(chat.datetime) === 'yesterday'" class="time"> Yesterday </ion-col>
            <ion-col col-4 *ngIf="compareDate(chat.datetime) === 'week'" class="time"> {{ chat.datetime | date: 'EE' }} </ion-col>
            <ion-col col-4 *ngIf="compareDate(chat.datetime) === 'year'" class="time"> {{ chat.datetime | date: 'MMM dd' }} </ion-col>
            <ion-col col-4 *ngIf="compareDate(chat.datetime) === 'past'" class="time"> {{ chat.datetime | date: 'MM/dd/yyyy' }} </ion-col>
            -->
          </ion-row>
          <ion-row class="description">
            {{ chat.description }}
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
