<!--
  Generated template for the HeadControlsStatisticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Statistics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
   <div *ngIf="spinner" class="spinnerContent">
        <ion-spinner color="primary"></ion-spinner>
    </div>
    <div *ngIf="!spinner">
        <ion-list>


          <ion-card  class="schoolYear">
            <ion-grid class="schoolGrid">
              <ion-row>
                  <ion-col class="arrow" col-2 (click)="loadPrevious()"><ion-icon name="arrow-back"></ion-icon></ion-col>
                  <ion-col col-8>
                      <ion-row>
                        <div class="yearRow">
                          <div class="yearInfo">
                            {{ schoolYear }}
                          </div>
                        </div>
                      </ion-row>
                  </ion-col>
                  <ion-col class="arrow" col-2 (click)="loadNext()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
              </ion-row>
            </ion-grid>
            
              
          </ion-card>

        <ion-card class="cardStudent">
          <div class="studentLabel">Students</div>
                <div class="pieGraph">
                    <canvas class="studentChart" id="studentChart" height="10px" width="10px"></canvas>
                </div>
        </ion-card>
        
                <ion-slides spaceBetween="-26" class="cardSlides">
                    <ion-slide>
                      <ion-card class="cardSemester">
                          <div class="cardSemHeader">
                              <div class="semester">First Semester</div>
                              <div class="appointmentLabel">Appointments</div>
                          </div>
                          <div class="barGraph">
                              <canvas id="firstSemChart"></canvas>
                          </div>
                      </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card class="cardSemester">
                            <div class="cardSemHeader">
                                <div class="semester">Second Semester</div>
                                <div class="appointmentLabel">Appointments</div>
                            </div>
                            <div class="barGraph">
                                <canvas id="secondSemChart"></canvas>
                            </div>
                        </ion-card>
                    </ion-slide>
                    <ion-slide>
                        <ion-card class="cardSemester">
                            <div class="cardSemHeader">
                                <div class="semester">Summer</div>
                                <div class="appointmentLabel">Appointments</div>
                            </div>
                            <div class="barGraph">
                                <canvas id="summerChart"></canvas>
                            </div>
                        </ion-card>
                    </ion-slide>
                  </ion-slides>
              
                  <ion-card *ngFor="let unit of academicList" class="academicCard" (click)="viewStatistics(unit.id)">
                    <div class="academicDivName">
                      <div class="academicName"> {{ unit.name}} </div>
                    </div>
                    <ion-grid class="academicGrid">
                      <ion-row>
                        <ion-col col-2><img src="{{unit.avatar}}" class="avatar"></ion-col>
                        <ion-col col-9 class="counselorName">{{unit.counselor}}</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="appointmentsLabel">Total Appointments:</ion-col>
                        <ion-col class="appointmentsInfo">{{unit.appointments}}</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="studentsLabel">Total Students:</ion-col>
                        <ion-col class="studentsInfo">{{unit.students}}</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card>
          </ion-list>
    </div>
  
  
</ion-content>
