page-head-controls-statistics {

    .content {
        background-color: #EFF0F1;
        padding: 0%;
    }

    .card{
        border-radius: 5px;
        padding:10px;
    }

    .slide{
        align-content: center;
    }

    .studentLabel {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        padding: 5px;
    }

    .studentHolder {
        align-content: center;
        text-align: center;
    }

    .studentInfo {
        display: inline-block;
        padding: 5px 20px;
        text-align: center;
        font-size: 20pt;
        border-radius: 50px;
        color: white;
        background-color: #6961ff;
    }

    .cardSemester {
        width: 91%;
        margin: 5px auto;
    }

    .appointmentHeader {
    }

    .cardSemHeader {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        padding: 5px;
        padding-bottom: 10px;
    }

    .arrow {
      font-size: 20pt;
      margin: 0px;
      text-align: center;
      margin-top: 8px;
    }

    .cardSlides {
        //padding: 10px;
    }

    .yearLabel {
      width: 100%;
      font-size: 12pt;
      font-weight: bold;
      margin: 0px;
      text-align: center;
    }

    .yearRow {
      align-content: center;
      text-align: center;
      margin: 5px;
      width: 100%;

    }

    .yearInfo {
      display: inline-block;
      font-size: 12pt;
      font-weight: bold;
      padding: 5px 10px;
      text-align: center;
      background-color: #ff6961;
      color: white;
      border-radius: 50px;
    }

    .academicList {
        align-content: flex-end;
        text-align: end;
        margin-left: auto; 
        background-color: violet;
    }

    ion-select.academicSelect {
        background-color: violet;
        max-width: 100% !important;
        width: 100% !important;
    }

    .academicDivName {
        //padding: 5px;
    }

    .academicName {
        font-size: 12pt;
        font-weight: bold;
        display: inline-block;
        color: #ff6961;
        padding: 2px 10px;
        border-radius: 50px;
        margin-right: 10px;
        border: 1px solid #ff6961;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .academicGrid {
        padding: 0%;
    }
    
    .avatar {
        margin: 3px auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid rgb(179, 179, 179);
    }

    .counselorName {
        font-size: 12pt;
        font-weight: bold;
        margin-top: 10px;
    }

}
