<!-- Generated template for the ModalScheduleComponent component -->
<ion-header>

    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="dismiss()">
              Close
            </button>
          </ion-buttons>
        <ion-title>Forgot Password</ion-title>
    </ion-navbar>
  
</ion-header>
<ion-content padding class="content">
  <div class="headerContent">Please enter your SU Email Address</div>

    <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm.value)" novalidate>
      <ion-item>
          <ion-input placeholder="@su.edu.ph" 
            class="textInput"
            type="email" 
            #email="ngModel" 
            name="email" 
            pattern="^[a-zA-Z]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(su.edu)\.ph$" 
            ngModel required>
          </ion-input>
      </ion-item>
      <div *ngIf="email.errors && (email.dirty || email.touched)">
          <div [hidden]="!email.errors.required" class="alert">
            SU Email is required
           </div>
           <div [hidden]="!email.errors.pattern" class="alert">
            Invalid SU Email Address
           </div>
      </div>
        
      <div class="buttons">
        <button ion-button block class="btnReschedule" [disabled]="!passwordForm.form.valid" type="submit">Next</button>
      </div>
  </form>
</ion-content>
