page-chat-message {

    .toolbar {
        margin: 0%;
        padding: 0%;
    }

    .row {
        width: 100%;
        padding: 0%;
    }

    [col-2], [col-10] {
        padding: 0%;
    }

    .name {
        //padding-top: 14px;
        margin-left: 5px;
        font-size: 15pt;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .avatarHolder {
        padding: 0px 10px;
    }

    .avatar {
       // margin: 5px auto 0px auto;
        width: 100%;
        max-width: 30px;
        height: auto;
        border-radius: 50%;
        border: 1px solid rgb(235, 235, 235);
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .content {
        background-color: #EFF0F1;
        align-content: center;
        padding: 10px;
    }

    .item {
        display: inline-block;
        width: 100%;
    }

    .itemSender {
        display: inline-block;
        width: 100%;
        text-align: end;
    }

    .recipient {
        width: 60%;
        margin: 10px;
    }

    .sender {
        margin: 10px;
        margin-left: auto;
        width: 60%;
    }

    .messageRecipient {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        max-width: max-content;
    }

    .messageUser {
        background-color: #ff6961;
        padding: 10px;
        border-radius: 5px;
        margin-left: auto;
        max-width: max-content;
        color: white;
    }

    .description {
        text-align: left;
        font-size: 12pt;
        text-align: justify;
        text-justify: inter-word;
    }

    .time {
        font-size: 10pt;
        padding: 0px 5px;
    }

    .message {
        margin-left: 5px;
        font-size: 12pt;
        border: 1px solid gray;
        border-radius: 50px;
        padding: 8px 15px;
        width: 97%;
    }

    .text-input {
        margin: 0px;
    }

    .send {
        color: #ff6961;
        padding-left: 10px;
        margin-right: 5px;
    }
}
