<!--
  Generated template for the ChatMessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{recipient['name']}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content">
  <ion-list>
    <ion-grid>
      <ion-row *ngFor="let detail of messageList">
          <div *ngIf="detail.type === 'Recipient'" class="recipient">
            <div class="item">
              <div class="messageRecipient">
                <div class="description">{{detail.message}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="detail.type === 'Sender'" class="sender">
            <div class="item">
              <div class="messageUser">
                  <div class="description">{{detail.message}}</div>
              </div>
            </div>
          </div>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-input [(ngModel)]="message" placeholder="Write something here..." class="message"></ion-input>
      <ion-buttons end>
      <button ion-button (click)="sendMessage()" class="send" icon-only><ion-icon name="send"></ion-icon></button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
