page-home {

    //Hides the Scrollbar
    ::-webkit-scrollbar{
        display:none;
    }

    .btnSearchGrid,
    .btnSearchRow,
    .btnSearchCol {
        padding: 0%;
    }

    .btnSearch {
        margin: auto 10px;
        width: 95%;
        text-align: left;
        font-size: 15pt;
        padding: 5px 15px;
        border-radius: 50px;
        background: #f1534b;
        color: white;
    }

    .searchLabel {
        padding-top: 2px;
        padding-left: 10px;
        color: rgba(248, 248, 248, 0.507)
    }


    .tabTitle { 
        font-family: "Brusher";
        //src: url('../assets/fonts/brusher/Brusher.ttf');
        //src: url('../assets/fonts/brusher/Brusher.ttf') format('truetype'),
        //url('../assets/fonts/brusher/Brusher.otf') format('opentype');
    }

    .toolbar-title-ios {
        font-size: 15pt !important; // Default should be 2.0rem
    }

    .toolbar-title-md {
        padding-top: 6px !important;
        height: 50px !important;
        font-size: 20pt !important; // Default should be 2.0rem
    }

    .card {
        border-radius: 5px;
    }
}
