<ion-content class="content">

    <!-- Floating button -->
    <ion-fab right bottom *ngIf = " userInfo['type'] === 'GTD Head' ">
        <button ion-fab ><ion-icon name = "add"></ion-icon></button>
        <ion-fab-list side = "top">
            <button ion-fab class="fabList" (click) = "addPost('Event')"><ion-icon name = "calendar"></ion-icon></button>
            <button ion-fab class="fabList" (click) = "addPost('Quotes')"><ion-icon name = "quote"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

      <ion-fab right bottom *ngIf = " userInfo['type'] === 'Counselor' ">
        <button ion-fab (click) = "addPost('Event')"><ion-icon name = "calendar"></ion-icon></button>
      </ion-fab>

    <!-- Shows a list of post in the application-->
    <ion-list>
      <ion-card *ngFor="let post of feedList"> 
        <div>
          <ion-grid>
              <ion-row class = "header" >
                  <ion-col class="headerLeft" col-2>
                      <img src="{{ post.avatar }}" class="avatar">
                  </ion-col>
                  <ion-col class="headerInfo" col-8>
                      <ion-row class="headerName">{{post.counselor}}</ion-row>
                      <ion-row><div  class="headerAcademic">{{post.academic}}</div></ion-row>
                  </ion-col>
                  <ion-col class="headerOptions" col-2 *ngIf="userInfo['type'] != 'Student'">
                    <div class="iconBox">
                        <button class = "optionButton" (click)=" popOptions($event, post)">
                            <ion-icon name="more"></ion-icon>
                        </button>
                      </div>
                  </ion-col>
              </ion-row>
          </ion-grid>
          <!-- IMAGE -->
          <div *ngIf="post.picture != 'No image'" class="image">
            <img src="{{ post.picture }}" >
          </div>
          <ion-grid>
            <ion-row class="contentHeader"> 
                <ion-col class="title" col-9>
                    {{post.title}}
                </ion-col>
                <ion-col class="type" col-3>
                    <div  *ngIf = "post.type === 'Event'" class="event">
                      {{post.type}}
                    </div>
                    <div  *ngIf = "post.type === 'Quotes'" class="quote">
                      {{post.type}}
                    </div>
                </ion-col>
              </ion-row >
            <ion-row  *ngIf = "post.type === 'Event'" class="item">Venue:<div  class="venue">{{post.location}}</div></ion-row>
            <ion-row  *ngIf = "post.type === 'Event'" class="item">Start:<div class="start">{{post.startDate}}</div></ion-row >
              <ion-row  *ngIf = "post.type === 'Event'" class="item">End:<div class="end">{{post.endDate}}</div></ion-row >
            <ion-row  class="description">
                {{post.description}}
            </ion-row >
          </ion-grid>
        </div>
          <div class="divider"></div>
        <div>
          <div class="footer">
            <div class="like">
              <!-- LIKE BUTTON -->
                <div *ngIf="post.icon === true">
                  <button class="likeButton" icon-only clear round (click)="unlikePost(post)">
                    <ion-icon name="heart" medium></ion-icon>
                  </button>
                </div>
                <div *ngIf="post.icon === false">
                  <button class="unlikeButton" icon-only clear round (click)="likePost(post)">
                    <ion-icon name="heart-outline" medium></ion-icon>
                  </button>
                </div>
              <!-- END -->
              <div class="likeNumber">{{post.like}} Like</div>
            </div>
            <div class="datetime">{{post.datetime | timeAgo}}</div>
          </div>
        </div>
      </ion-card>
    </ion-list>
</ion-content>
