<!-- Generated template for the ModalFeedbackAddComponent component -->
<ion-header>

  <ion-navbar color="primary">
      <ion-buttons end>
          <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="dismiss()">
            Close
          </button>
        </ion-buttons>
      <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="content">
    <form #rateForm="ngForm" (ngSubmit)="onSubmit(rateForm.value)" novalidate>
      <ion-item>
        <ion-label color="primary" stacked>Rating</ion-label>
        <ion-select #rate="ngModel"
          name="rate"
          placeholder="Choose rating"
          ngModel
          required>
          <ion-option value="5">Very Satisfied</ion-option>
          <ion-option value="4">Satisfied</ion-option>
          <ion-option value="3">Neutral</ion-option>
          <ion-option value="2">Dissatisfied</ion-option>
          <ion-option value="1">Very Dissatisfied</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="rate.errors && (rate.dirty || rate.touched)">
          <div [hidden]="!rate.errors.required" class="alert">
          Rating is required
          </div>
      </div>
      
      <ion-item>
        <ion-label color="primary" stacked>Description</ion-label>
        <ion-textarea type="text"
          #description="ngModel"
          name="description"
          ngModel
          required></ion-textarea>
      </ion-item>
      <div *ngIf="description.errors && (description.dirty || description.touched)">
          <div [hidden]="!description.errors.required" class="alert">
           Description is required
          </div>
      </div>

      <div class="buttons">
        <button ion-button [disabled]="!rateForm.form.valid" class="submit" type="submit">Submit</button>
      </div>
    </form>
</ion-content>