modal-feedback-add {

    .alert {
        font-size: 12pt;
        color: white;
        background-color: #ff6961;
        padding: 10px 10px;
        border-radius: 10px;
        margin-left: 15px;
        margin-top: 5px;
    }
    
    .buttons {
        display: block;
        align-content: center;
        text-align: center;
        margin-top: 30px;
    }

    .submit {
        width: 80%;
    }
}
