<!-- Generated template for the ModalFeedbackAddComponent component -->
<ion-header>

  <ion-navbar color="primary">
      <ion-buttons end>
          <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="dismiss()">
            Close
          </button>
        </ion-buttons>
      <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="content">
    <div>
      <div *ngIf="rating === 5" class="rateLabel">Excellent</div>
      <div *ngIf="rating === 4" class="rateLabel">Very Satisfied</div>
      <div *ngIf="rating === 3" class="rateLabel">Satisfied</div>
      <div *ngIf="rating === 2" class="rateLabel">Neutral</div>
      <div *ngIf="rating === 1" class="rateLabel">Dissatisfied</div>
      <div *ngIf="rating === 0" class="rateLabel">Please select</div>
    </div>

    <form #rateForm="ngForm" (ngSubmit)="onSubmit(rateForm.value)" novalidate>
      <div class="rating">
        <ion-grid>
          <ion-row>
            <!--Colored-->
            <ion-col *ngIf="rating > 0" col-2 class="star"><div (click)="rate(1)" class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
            <ion-col *ngIf="rating > 1" col-2 class="star"><div (click)="rate(2)" class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
            <ion-col *ngIf="rating > 2" col-2 class="star"><div (click)="rate(3)" class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
            <ion-col *ngIf="rating > 3" col-2 class="star"><div (click)="rate(4)" class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
            <ion-col *ngIf="rating > 4" col-2 class="star"><div (click)="rate(5)" class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>

            <!--No Colored-->
            <ion-col *ngIf="1 > rating" col-2 class="star-outline"><div (click)="rate(1)" class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
            <ion-col *ngIf="2 > rating" col-2 class="star-outline"><div (click)="rate(2)" class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
            <ion-col *ngIf="3 > rating" col-2 class="star-outline"><div (click)="rate(3)" class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
            <ion-col *ngIf="4 > rating" col-2 class="star-outline"><div (click)="rate(4)" class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
            <ion-col *ngIf="5 > rating" col-2 class="star-outline"><div (click)="rate(5)" class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-item>
        <ion-label color="primary" stacked>Description</ion-label>
        <ion-textarea type="text"
          #description="ngModel"
          name="description"
          ngModel
          required></ion-textarea>
      </ion-item>
      <div *ngIf="description.errors && (description.dirty || description.touched)">
          <div [hidden]="!description.errors.required" class="alert">
           Description is required
          </div>
      </div>

      <div class="buttons">
        <button ion-button [disabled]="!rateForm.form.valid || rating === 0" class="submit" type="submit">Submit</button>
      </div>
    </form>
</ion-content>