<ion-header>

    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="close()">
              Close
            </button>
          </ion-buttons>
        <ion-title>Notification Info</ion-title>
    </ion-navbar>
  
</ion-header>
  <ion-content class="content">
        <div *ngIf="spinner" class="spinnerContent">
            <ion-spinner color="primary"></ion-spinner>
        </div>
        <div *ngIf="!spinner">
                <ion-grid>
                        <ion-row>
                          <ion-col col-3>
                              <img src="{{ notificationInfo['picture'] }}" class="avatar">
                          </ion-col>
                          <ion-col col-9>
                            <ion-row class="name">
                              {{notificationInfo['name']}}
                            </ion-row>
                            <ion-row class="academic">
                                <div *ngFor="let units of notificationInfo['academic']">
                                    <div class="academicCounselor">{{units.code}}</div>
                                  </div>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                        <ion-row class="detail">Schedule: <div class="schedule">{{ notificationInfo['schedule'] | date: 'EE MMM dd, yyyy hh:mm aa' }}</div></ion-row>
                        <ion-row class="detail">Venue: <div class="venue">{{notificationInfo['venue']}}</div></ion-row>
                        <ion-row class="detail" *ngIf="userInfo['type'] !== 'Student'">Concern: <div class="concern">{{notificationInfo['concern']}}</div></ion-row>
                        <ion-row class="detail">Description:</ion-row>
                        <ion-row class="description">{{notificationInfo['description']}}</ion-row>
                        <ion-row class="buttons" *ngIf="userInfo['type'] !== 'Student'">
                            <ion-col>
                                <button ion-button class="reschedule" clear (click)="reschedule()">Reschedule</button>
                            </ion-col>
                            <ion-col>
                                <button ion-button class="accept" (click)="accept()" clear>Accept</button>
                            </ion-col>
                        </ion-row>
                        <ion-row class="buttons" *ngIf="userInfo['type'] === 'Student'">
                            <ion-col>
                                <button ion-button clear *ngIf="proceedFeedback"  class="feedback" (click)="addFeedback()">Add Feedback</button>
                            </ion-col>
                        </ion-row>
                      </ion-grid>
        </div>
        
    </ion-content>