<!-- Generated template for the PopFilterComponent component -->
<ion-scroll scrollY="true">  
    <ion-list>
        <ion-grid class="grid">
          <ion-row class="item">
                    <ion-col col-2><ion-checkbox class="check" checked="{{all}}" (ionChange)="getSelect('all')"></ion-checkbox></ion-col>
                    <ion-col col-9 class="label">All</ion-col>
                </ion-row>
                <ion-row  *ngFor="let academic of academicList"  class="item">
                    <ion-col col-2><ion-checkbox class="check" checked="{{academic.check}}" (ionChange)="getSelect(academic)"></ion-checkbox></ion-col>
                    <ion-col col-9 class="label">{{academic.code}}</ion-col>
                </ion-row>
        </ion-grid>
    </ion-list>
</ion-scroll>
