pop-filter {


    .no-scroll .scroll-content {
        overflow: visible;
    }

    .content {
        padding: 10px 10px 10px 10px;
        margin: 0%;
    }

    .grid {
        margin: 0%;
        padding: 0%;
    }

    .item {
        margin: 10px;
    }

    .label {
        font-size: 12pt;
    }
}
