modal-appointment-search {
 //Hides the Scrollbar
 ::-webkit-scrollbar{
    display:none;
}

.searchbar-search-icon { display:none; width:0; height:0; padding: 0; }

.searchbar-input {
    padding-left: 10px !important;
    font-size: 15pt !important;
  }   .row {
    width: 100%;
}

.card {
    border-radius: 5px;
}

.content {
    background-color: white;
    align-content: center;
}

.people {
    background-color: #EFF0F1;
    align-content: center;
    padding: 0%;
}

.btn {
    text-align: left;
    margin: 0px;
}

.profile:active,
.profile {
    padding: 0px 15px!important;
    width: 100%;
    margin: 0px !important;
}

.profile:active {
    background-color: rgb(247, 247, 247);
}

.grid {
    margin: 10px 0px !important;
    width: 100%;
}

.contact {
    margin: 0%;
    padding: 0px 100px;
}

.profileLeft {
    margin: 0%;
    padding: 0%;
}

.profileRight {
    padding-top: 12px; 
}

.avatar {
    margin: 3px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(179, 179, 179);
}

.name {
    text-align: left;
    font-size: 12pt;
    color: black;
}

.status {
    width: 100%;
    font-size: 12pt;
    text-align: center;
    padding: 10px;
    color: darkgray;
}
}
