<!-- Generated template for the ModalConcernsAddComponent component -->
<ion-header>

  <ion-navbar color="primary">
      <ion-buttons end>
          <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="dismiss()">
            Close
          </button>
        </ion-buttons>
      <ion-title>Add Concern</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="content">

  <form #concernForm="ngForm" (ngSubmit)="onAdd(concernForm.value)" novalidate>
    <ion-item>
        <ion-label color="primary" stacked> Concern</ion-label>
        <ion-input #name="ngModel" 
          name="name" 
          ngModel
          required>
        </ion-input>
      </ion-item>
      <div *ngIf="name.errors && (name.dirty || name.touched)">
        <div [hidden]="!name.errors.required" class="alert">
          Concern is required
        </div>
      </div>

    <div class="buttons">
      <button ion-button class="btnReschedule" [disabled]="!concernForm.form.valid" type="submit">Add</button>
    </div>
</form>
</ion-content>
