<!--
  Generated template for the AddApointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title >Create Apointment</ion-title>
    <ion-buttons end>
    
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-2> 
            <button class="search" ion-button icon-only clear round (click)="selectRecipient()"><ion-icon name="add"></ion-icon> </button>
          </ion-col>
          <ion-col *ngIf="recipient" col-8> 
            <div class="recipient"> {{ recipient.name }}</div>
          </ion-col>
          <ion-col *ngIf="!recipient" col-8> 
            <div class="nonRecipient"> Add A Recipient</div>
          </ion-col>
        </ion-row>
      </ion-grid>
       
        
        
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating> Date</ion-label>
      <ion-datetime pickerFormat="MMMM DD,YYYY" max="2050" [(ngModel)]="date" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating> Time</ion-label>
      <ion-datetime pickerFormat="h:mm A"[(ngModel)]="time" required></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label color="primary" floating>Desciption</ion-label>
        <ion-textarea type="text" class="description" [(ngModel)]="description" required></ion-textarea>
      </ion-item>

    <ion-item *ngIf="userInfo['type'] !== 'Student'">
        <ion-label color="primary" floating>Venue</ion-label>
        <ion-select [(ngModel)]="venue">
            <ion-option *ngFor="let place of venuesArray" value ="{{place.acID}}"> {{place.acName}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="userInfo['type'] === 'Student' && recipient">
        <ion-label color="primary" floating>Venue</ion-label>
        <ion-select [(ngModel)]="venue">
            <ion-option *ngFor="let place of venuesArray" value ="{{place.acID}}"> {{place.acName}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="userInfo['type'] === 'Student'">
        <ion-label color="primary" floating>Concern</ion-label>
        <ion-select [(ngModel)]="concern">
            <ion-option *ngFor="let issues of concernArray" value ="{{issues.coID}}"> {{issues.coName}}</ion-option>
        </ion-select>
    </ion-item>
    
    <div class="buttons">
      <button ion-button class="btnAdd" *ngIf="userInfo['type'] !== 'Student'" (click)="verifyInputs()">Set</button>
      <button ion-button class="btnAdd" *ngIf="userInfo['type'] === 'Student'" (click)="verifyInputs()">Request</button>
  </div>
</ion-content>
