<!-- Generated template for the ModalScheduleComponent component -->
<ion-header>

    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="dismiss()">
              Close
            </button>
          </ion-buttons>
        <ion-title>Schedule Info</ion-title>
    </ion-navbar>
  
</ion-header>
<ion-content padding class="content">

    <ion-item>
      <div class="header">Student Name</div>
      <ion-grid>
        <ion-row>
            <ion-col col-3><img src="{{ appointment['picture'] }}" class="avatar"></ion-col>
            <ion-col col-9 class="recipientName">
                {{studentDefault}} 
            </ion-col>
        </ion-row>
      </ion-grid>
        
    </ion-item>

    <form #appointmentForm="ngForm" (ngSubmit)="onReschedule(appointmentForm.value)" novalidate>
      <ion-item>
          <ion-label color="primary" stacked> Date</ion-label>
          <ion-datetime pickerFormat="MMM DD,YYYY" 
            max="2050" 
            #date="ngModel" 
            name="date" 
            (ionChange)="compareDatetime($event, 'date')"
            [(ngModel)]="dateDefault" 
            required>
          </ion-datetime>
        </ion-item>
        <div *ngIf="!dateValid" class="alert">
          Date has already passed
        </div>
    
        <ion-item>
          <ion-label color="primary" stacked> Time</ion-label>
          <ion-datetime pickerFormat="h:mm A" 
            #time="ngModel" 
            name="time"
            (ionChange)="compareDatetime($event, 'time')"
            [(ngModel)]="timeDefault" 
            required>
          </ion-datetime>
        </ion-item>
        <div *ngIf="!timeValid" class="alert">
          Time has already passed
        </div>
        
      <ion-item class="item">
          <ion-label color="primary" stacked>Venue</ion-label>
              <ion-select #unit="ngModel" 
                  name="unit"  
                  [(ngModel)]="venue"
                  required>
                  <ion-option *ngFor="let place of venuesArray" value ="{{place.acName}}" required> {{place.acName}}</ion-option>
              </ion-select>
        </ion-item>

        <div *ngIf="venue.errors && (venue.dirty || venue.touched)">
            <div [hidden]="!venue.errors.required" class="alert">
              Venue is required
            </div>
          </div>
        
      <div class="buttons">
        <button ion-button class="btnReschedule" [disabled]="!appointmentForm.form.valid  || !dateValid || !timeValid" type="submit">Reschedule</button>
      </div>
  </form>
</ion-content>
