<ion-header>

    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="close()">
              Close
            </button>
          </ion-buttons>
        <ion-title>{{type}} Info</ion-title>
    </ion-navbar>
  
</ion-header>
  <ion-content class="content">

   <div *ngIf="spinner" class="spinnerContent">
            <ion-spinner color="primary"></ion-spinner>
    </div>

    <div *ngIf="!spinner">
        <div class="profile">
            <div><img src="{{ profileInfo['picture'] }}" class="avatar"></div>
            <div class="details">
              <div class="name">{{profileInfo["name"]}}</div>
              <div *ngIf="type === 'Counselor'" class="numberLabel">Mobile</div>
              <div class="academicLabel">Academic Unit</div>
              <div class="academic"> 
                <div *ngFor="let units of profileInfo['academic']">
                    <div class="academicCounselor1" *ngIf="!update">{{units.name}}</div>
                    <div class="academicCounselor2" *ngIf="update">{{units.name}}</div>
                </div>
              </div>
              <div class="status" *ngIf="type === 'Student'" >
                <div class="statusLabel">Status</div>
                <div class="statusName">{{profileInfo["status"]}}</div>
              </div>
      
              <div class="buttons">
                  <div><button *ngIf="type === 'Student' && update" ion-button class="changeButton" (click)="presentModal()" clear>Update Academic Info</button></div>
                  <div><button ion-button class="messageButton" (click)="message()" clear> Message</button></div>
              </div>
            </div>
        </div>
    </div>
    
  </ion-content>
  