<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registration List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="spinner" class="spinnerContent">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <div *ngIf="!spinner">
        <ion-list class="list" >
            <ion-card class="card" *ngFor="let person of requestList"  (click)="profile(person)">
                <ion-grid>
                    <ion-row  class="profile">
                          <ion-col class="profileLeft" *ngIf="person.picture !== 'No image'" col-3>
                                <img src="{{ person.picture }}" class="avatar">
                          </ion-col>
                          <ion-col class="profileLeft" *ngIf="person.picture === 'No image'" col-3>
                                <div class="avatar"></div>
                          </ion-col>
                          <ion-col class="profileRight" col-9>
                              <ion-row class="name">
                                <ion-col col-11>{{person.name}}</ion-col>
                                <ion-col col-1 *ngIf="person.pop"><div class="badge"></div></ion-col>
                              </ion-row>
                              <ion-row class="academic"><div class="unit">{{person.academic}}</div></ion-row>
                              <ion-row class="time"><div class="pipe">{{person.datetime | timeAgo}}</div> </ion-row>
                          </ion-col>
                    </ion-row>
                    </ion-grid>
              
                <div *ngIf="requestList.length === 0">
                  <div class="status"> No requests Found</div>
                </div>
            </ion-card>
          </ion-list>
    </div>
 
    
</ion-content>