<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registration List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="list" >
    <ion-card class="card">
        <ion-grid>
            <ion-row  *ngFor="let person of requestList" class="profile" (click)="profile(person)">
                  <ion-col class="profileLeft" *ngIf="person.picture !== 'No image'" col-3>
                        <img src="{{ person.picture }}" class="avatar">
                  </ion-col>
                  <ion-col class="profileLeft" *ngIf="person.picture === 'No image'" col-3>
                        <div class="avatar"></div>
                  </ion-col>
                  <ion-col class="profileRight" col-9>
                      <ion-row class="name">{{person.name}}</ion-row>
                      <ion-row class="academic"><div class="unit">{{person.academic}}</div></ion-row>
                      <ion-row class="time"><div class="pipe">{{person.datetime | timeAgo}}</div> </ion-row>
                  </ion-col>
            </ion-row>
            </ion-grid>
      
        <div *ngIf="requestList.length === 0">
          <div class="status"> No requests Found</div>
        </div>
    </ion-card>
  </ion-list>
    
</ion-content>