<ion-content class="content">
    <ion-list>
        <ion-card>
            <div class="item">
                <button class="button btnProfile">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-3><img src = "{{ userInfo['picture']}}" class="avatar"></ion-col>
                            <ion-col col-7>
                                <ion-row class="name">{{userInfo["firstname"]}} {{userInfo["lastname"]}}</ion-row>
                                <ion-row class="label">View your profile</ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </button>
            </div>
            <div class="item" *ngIf="userInfo['type'] !== 'Student'">
                <button class="button btnRegister" (click)="registration()">Registration</button>
            </div>
            <div class="item" *ngIf="userInfo['type'] === 'GTD Head'">
                <button class="button btnControl">Head Controls</button>
            </div>
            <div class="item">
                <div class="button">
                    <button class="btnLogout" (click)="logout()">Logout</button>
                </div>
            </div>
        </ion-card>
    </ion-list>
</ion-content>
