<ion-header>

  <ion-navbar color="primary">
      <ion-buttons end>
          <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="close()">
            Close
          </button>
        </ion-buttons>
      <ion-title>Counselor Info</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="content">

  <div *ngIf="spinner" class="spinnerContent">
           <ion-spinner color="primary"></ion-spinner>
   </div>

   <div *ngIf="!spinner">
       <div class="profile">
           <div><img src="{{ profileInfo['picture'] }}" class="avatar"></div>
           <div class="details">
             <div class="name">{{profileInfo["name"]}}</div>
             <div class="rating">
                <ion-grid>
                  <ion-row>
                    <!--Colored-->
                    <ion-col *ngIf="rating > 0" col-2 class="star"><div class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
                    <ion-col *ngIf="rating > 1" col-2 class="star"><div class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
                    <ion-col *ngIf="rating > 2" col-2 class="star"><div class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
                    <ion-col *ngIf="rating > 3" col-2 class="star"><div class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
                    <ion-col *ngIf="rating > 4" col-2 class="star"><div class="starHolder"><ion-icon name="star"></ion-icon></div></ion-col>
      
                    <!--No Colored-->
                    <ion-col *ngIf="1 > rating" col-2 class="star-outline"><div class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
                    <ion-col *ngIf="2 > rating" col-2 class="star-outline"><div class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
                    <ion-col *ngIf="3 > rating" col-2 class="star-outline"><div class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
                    <ion-col *ngIf="4 > rating" col-2 class="star-outline"><div class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
                    <ion-col *ngIf="5 > rating" col-2 class="star-outline"><div class="starHolder"><ion-icon name="star-outline"></ion-icon></div></ion-col>
                  </ion-row>
                </ion-grid>
            </div>
             <div class="academicLabel">Academic Unit</div>
             <div class="academicList"> 
               <div *ngFor="let units of profileInfo['academic']">
                   <div class="academic">{{units.acName}}</div>
               </div>
             </div>
     
             <div class="buttons">
                <div><button ion-button class="pictureButton"  (click)="editProfile()" clear>Update Picture</button></div>
                <div><button ion-button class="changeButton" (click)="changeAcademic()">Change Academic Unit</button></div>
                 <div (click)="removeCounselor()" 
                    class="removeButton" 
                    *ngIf="userInfo['id'] !== id">Remove Counselor</div>
             </div>
           </div>
       </div>
   </div>
   
</ion-content>
