<ion-header>

  <ion-navbar color="primary">
      <ion-buttons end>
          <button ion-button  style="text-transform: none; font-size: 15pt;" (click)="close()">
            Close
          </button>
        </ion-buttons>
      <ion-title>Counselor Info</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="content">

  <div *ngIf="spinner" class="spinnerContent">
           <ion-spinner color="primary"></ion-spinner>
   </div>

   <div *ngIf="!spinner">
       <div class="profile">
           <div><img src="{{ profileInfo['picture'] }}" class="avatar"></div>
           <div class="details">
             <div class="name">{{profileInfo["name"]}}</div>
             <div class="feedback">
               <div class="feedbackLabel">Rating</div>
               <div class="feedbackInfo" *ngIf="rating">{{rating}}</div>
               <div class="feedbackInfo" *ngIf="!rating">No ratings</div>
             </div>
             <div class="academicLabel">Academic Unit</div>
             <div class="academicList"> 
               <div *ngFor="let units of profileInfo['academic']">
                   <div class="academic">{{units.acName}}</div>
               </div>
             </div>
     
             <div class="buttons">
                <div><button ion-button class="pictureButton"  (click)="editProfile()" clear>Update Picture</button></div>
                <div><button ion-button class="changeButton" (click)="changeAcademic()">Change Academic Unit</button></div>
                 <div (click)="removeCounselor()" 
                    class="removeButton" 
                    *ngIf="userInfo['id'] !== id">Remove Counselor</div>
             </div>
           </div>
       </div>
   </div>
   
</ion-content>
